.button_all{
    padding: 12px 24px 11px 24px;
    border: 1px solid #6B7280;
    font-size: 18px;
    line-height: 30.31px;
    border-radius: 8px;
    color: #101727;
    background-color: $white;
    font-family: $font_semibold;
}