/* color veriable */
$white: #ffffff;
$off_white: #f3f4f6;
$primary_color: #dc2626;
$secondary_color: #101727;
$mute_1: #1c1c1c;
$mute_2: #494949;
$off_orange: #fef2f2;
$deep_orange: #fecaca;
// #fecaca
$footer_text: #777777;

/* dark_mode_color */

/* font name */
$font_bold: "font_bold";
$font_regular: "font_regular";

$font_regular: "Regular"; /* 400 */
$font_medium: "Medium"; /* 500 */
$font_semibold: "SemiBold"; /* 600 */
$font_bold: "Bold"; /* 700 */
$font_extrabold: "ExtraBold"; /* 800 */

/* border */
$border: 0px solid red;
