// chating_and_go_to_top_area start
.chating_and_go_to_top_area {
    border: $border;
    position: fixed;
    right: 37px;
    bottom: 77px;
    // chating_area start
    .chating_area {
        border: $border;
        display: inline-flex;
        background-color: $primary_color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        // padding: 12px 14px;
        // border-radius: 28px;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        cursor: pointer;
        transition-duration: 0.4s;
        &:hover {
            width: 109px;
            height: 56px;
            // padding: 12px 14px;
            border-radius: 28px;
            .text {
                // visibility: visible;
                // opacity: 1px;
                display: block;
            }
        }
        .logo {
            border: $border;
            // padding-top: 3px;

            i {
                border: $border;
                color: $white;
                font-size: 20px;
            }
        }
        .text {
            border: $border;
            font-size: 20px;
            line-height: 30px;
            font-family: $font_medium;
            color: $white;
            margin-left: 6px;
            display: none;
            // visibility: hidden;
            // opacity: 0px;
            // transition-duration: .4s;
        }
    }
    // chating_area end
    // go_to_top_area start
    .go_to_top_area {
        border: $border;
        margin-top: 16px;
        text-align: end;
        .logo {
            border: $border;
            align-items: center;
            justify-content: center;
            display: inline-flex;
            border: 1px solid $primary_color;
            width: 39px;
            height: 39px;
            border-radius: 50%;
            cursor: pointer;
            i {
                border: $border;
                font-size: 16px;
                color: $primary_color;
            }
        }
    }
    // go_to_top_area end
}
// chating_and_go_to_top_area end
