// footer area start
.footer_area_start{
    border: $border;
    .footer_area_content{
        border: $border;
        .footer_colum{
            border: $border;
        }
        // footer_logo_and_contact_area start
        .footer_logo_and_contact_area{
           
        }
        // footer_logo_and_contact_area end

        // footer_blog_area start
        .footer_blog_area{

        }
        // footer_blog_area end

        // footer_address_area start
        .footer_address_area{
           
        }
        // footer_address_area end
    }
}
// footer area end