// header_area start
.header_area {
    border: $border;
    position: sticky;
    top: 0px;
    background-color: $white;
    z-index: 999999;
    box-shadow: 0px -6px 5px 10px #e2e3e5;
    .header_area_content {
        border: $border;
        display: flex;
        align-items: center;
        // logo_area start
        .logo_area {
            border: $border;
            align-items: center;
            display: flex;
            height: 100%;
            width: 202px;
            a {
                border: $border;
                width: 190px;
                img {
                    border: $border;
                    // width: 100%;
                    height: 64px;
                }
            }
        }
        // logo_area end

        //  nav_and_login_area start
        .nav_and_login_area {
            border: $border;
            display: flex;
            flex: 1;
            justify-content: end;

            // nav_area start
            .nav-area {
                border: $border;
                // margin: 48px 0px;
                // position: relative;
                // .nav_overlay{
                //     position: fixed;
                //     background-color: rgba(112, 112, 112,0.5);
                //     top: 0;
                //     left: 0;
                //     height: 100vh;
                //     width: 100vw;
                //     z-index: 99;
                // }
                ul {
                    border: $border;
                    display: flex;
                    padding: 48px 0px;

                    li {
                        border: $border;
                        a {
                            border: $border;
                            font-size: 16px;
                            line-height: 24px;
                            color: $mute_1;
                            font-family: $font_medium;
                            margin-left: 32px;
                            transition-duration: 0.4s;
                            position: relative;

                            &::before {
                                content: "";
                                width: 100%;
                                height: 2px;
                                background-color: transparent;
                                position: absolute;
                                top: 19px;
                                transition-duration: 0.4s;
                            }
                            &.active_button,
                            &:hover {
                                color: $primary_color;
                                &::before {
                                    background-color: $primary_color;
                                }
                            }
                        }
                    }
                }
            }
            // nav_area end

            // login_area start
            .login_area {
                border: $border;
                align-items: center;
                display: flex;

                a {
                    border: $border;
                    font-size: 16px;
                    line-height: 12px;
                    color: $mute_1;
                    font-family: $font_medium;
                    border: 1px solid #6b7280;
                    padding: 14.5px 30.5px;
                    border-radius: 6px;
                    margin-left: 32px;
                    transition-duration: 0.4s;
                    &:hover {
                        background-color: $primary_color;
                        color: $white;
                        border: 1px solid transparent;
                    }
                }
            }
            // login_area end
        }

        //  nav_and_login_area end
    }
}
// header_area end
