.aboutus_part {
    margin-bottom: 150px;
    .aboutus_title {
        .aboutus_title_bangla {
            font-size: 41px;
            font-weight: 700;
            line-height: 61.5px;
        }
    }
    .aboutus_relation_description {
        width: 1063px;
        margin-top: 24px;
        .aboutus_info {
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            color: #494949;
        }
        .aboutus_info:last-child {
            margin-top: 20px;
        }
    }
    .aboutus_partner {
        margin-top: 64px;
        .aboutus_partner_title {
            .aboutus_partner_title_text {
                font-weight: 600px;
                font-size: 32px;
                line-height: 48px;
                color: #1c1c1c;
            }
        }
        .aboutus_partner_items_container {
            .items {
                margin-top: 42px;
                display: flex;
                .item {
                    margin-right: 48px;
                    img {
                        width: 120px;
                        // height: 90.82px;
                        object-fit: contain;
                        object-position: left;
                    }
                }
            }
        }
    }
}
.motivation_part {
    // margin-top: 150px;
    .motivation_title {
        text-align: center;
        h2 {
            margin: 0;
            padding: 0;
        }
        .motivation_title_bangla {
            font-size: 41px;
            font-weight: 700;
            line-height: 61.5px;
        }
        .motivation_title_english {
            font-size: 41px;
            font-weight: 500;
            line-height: 61.5px;
        }
    }
}
.mission_part {
    margin-top: 155px;
    .mission_part_details {
        display: flex;
        justify-content: center;
        align-items: center;
        .mission_part_image {
            margin-right: 200px;
            // margin-right: 5px;
            img {
                width: 409px;
                height: 367px;
                object-fit: contain;
            }
        }
        .mission_part_description {
            width: 495px;
            .mission_part_title {
                margin-bottom: 24px;
                .mission_title_bangla {
                    font-size: 41px;
                    font-weight: 700;
                    line-height: 61.5px;
                }
            }
            .mission_part_info {
                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25.6px;
                    color: #494949;
                    &:last-child {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
.vision_part {
    margin-top: 150px;
    margin-bottom: 50px;
    .vision_part_details {
        display: flex;
        justify-content: center;
        align-items: center;
        .vision_part_image {
            margin-left: 200px;
            img {
                width: 596px;
                height: 367px;
                object-fit: contain;
            }
        }
        .vision_part_description {
            width: 495px;
            .vision_part_title {
                margin-bottom: 24px;
                .vision_title_bangla {
                    font-size: 41px;
                    font-weight: 700;
                    line-height: 61.5px;
                }
            }
            .vision_part_info {
                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25.6px;
                    color: #494949;
                    &:last-child {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
.course_item{
    // margin-top: 120px;
    .training_details{
        margin-bottom: 64px;
        .training_title{
            text-align: center;
            .training_title_bangla{
                font-weight: 700;
                font-size: 41px;
                line-height: 61.5px;
            }
            p{
                margin-top: 10px;
                font-size: 16px;
                line-height: 25.6px;
            }
        }
    }
}
