// course_and_payment_area start
.course_and_payment_area {
    border: $border;
    margin-top: 100px;
    @include xs{
        margin-top: 60px;
    }
    .course_and_payment_area_content {
        border: $border;
        display: flex;
        gap: 60px;
        @include xs{
            display: block;
        }
        // course_area_start
        .course_area {
            border: $border;
            display: flex;
            border-radius: 8px;
            border: 1px solid #eaeaea;
            // background-color: #e0e0e0;
            background-color: #f3f4f6;
            padding: 16px;
            width: 630px;
            height: 210px;
            @include xs{
                width: 100%;
                height: unset;
                display: block;
            }
            &:hover {
                .course_image {
                    transform: scale(0.9);
                }
            }
            .course_image {
                border: $border;
                width: 174px;
                height: 174px;
                background-color: $white;
                justify-content: center;
                align-items: center;
                display: flex;
                border-radius: 8px;
                border: 1px solid #eaeaea;
                transition-duration: 0.4s;
                @include xs{
                    width: unset; 
                }
                img {
                    border: $border;
                }
            }
            .course_title_and_price {
                border: $border;
                align-items: center;
                display: grid;
                margin-left: 16px;
                @include xs{
                    margin-left: 0px;
                }
                .course_title {
                    border: $border;
                    .title {
                        border: $border;
                        font-family: $font_semibold;
                        font-size: 26px;
                        line-height: 40px;
                        color: $mute_1;
                        @include xs{
                            font-size: 20px;
                            line-height: 28px;
                        }
                    }
                }
                .course_price {
                    border: $border;
                    margin-top: 16px;
                    .old_price {
                        border: $border;
                        font-size: 20px;
                        font-family: $font_regular;
                        color: $primary_color;
                        text-decoration: line-through;
                    }
                    .update_price {
                        border: $border;
                        font-size: 26px;
                        font-family: $font_semibold;
                        color: $mute_1;
                        margin-left: 10px;
                    }
                }
            }
        }
        // course_area_end
        // payment_form_area_start
        .payment_form_area {
            border: $border;
            width: 450px;
            @include xs{
                width: 100%;
                margin-top: 40px;
            }
            form {
                border: $border;
                .form_area {
                    border: $border;
                    border: 2px solid #d2d2d2;
                    border-radius: 6px;
                    .form_content {
                        border: $border;
                        justify-content: space-between;
                        display: flex;
                        padding: 20px 0px;
                        margin: 0 10px;

                        label {
                            border: $border;
                            font-size: 16px;
                            // line-height: 16px;
                            font-family: $font_regular;
                            align-items: center;
                            display: flex;
                            i {
                                margin-right: 5px;
                            }
                        }
                        input {
                            border: $border;
                            outline: 0;
                            text-align: right;
                            font-size: 16px;
                            // line-height: 16px;
                            font-family: $font_regular;
                        }
                    }
                    .border_dash {
                        border-bottom: 1px dashed #a4a4a4;
                    }
                    .border_solid {
                        border-bottom: 1px solid #a4a4a4;
                        margin: 0px;
                        padding: 20px 10px;
                        input {
                            border: 1px solid #a4a4a4;
                            border-radius: 6px;
                            width: 270px;
                            height: 45px;
                            padding: 0px 10px;
                            @include xs{
                                width: 107px;
                            }
                        }
                    }
                }
                .button_all {
                    border: $border;
                    border: 1px solid $secondary_color;
                    font-size: 18px;
                    line-height: 18px;
                    font-family: $font_semibold;
                    width: 100%;
                    transition-duration: 0.4s;
                    margin-top: 20px;
                    padding: 16px 0px;
                    &:hover {
                        background-color: $primary_color;
                        border: 1px solid $primary_color;
                        color: $white;
                    }
                }
            }
        }
        // payment_form_area_end
    }
}
// course_and_payment_area end

// bank_name_area start
.bank_name_area {
    border: $border;
    margin-top: 120px;
    .bank_name_area_content {
        border: $border;
        display: flex;
        align-items: center;
        @include xs{
           display: block;
        }
        .bank_name_area_title {
            border: $border;
            margin-right: 12px;
            @include xs{
                margin-right:0px;
             }
            .title {
                border: $border;
                font-size: 26px;
                line-height: 26px;
                font-family: $font_medium;
                color: $mute_2;
                @include xs{
                    text-align: center;
                    margin-bottom: 30px;
                 }
            }
        }
        .bank_logo_area {
            border: $border;
            gap: 12px;
            display: flex;
            @include xs{
                display: block;
                text-align: center;
             }
            .bank_logo {
                border: $border;
                @include xs{
                   margin: 5px;
                 }
                span {
                    border: $border;
                    img {
                        border: $border;
                    }
                }
            }
        }
        .ssl_area {
            border: $border;
            position: relative;
            margin-left: 12px;
            padding-left: 12px;
            @include xs{
              margin-top: 30px;
              }
            &::before{
                content: "";
                width: 2px;
                height: 20px;
                background-color: #D2D2D2;
                top: 0;
                left: 0;
                position: absolute;
                height: 100%;
            }
            .ssl_title {
                border: $border;
                .title {
                    border: $border;
                    font-size: 16px;
                    line-height: 16px;
                    font-family: $font_medium;
                    color: $footer_text;
                }
            }
            .ssl_image {
                border: $border;
                img {
                    border: $border;
                }
            }
        }
    }
}
// bank_name_area end
