.course_details_quiz_area {
    .course_progress_mearn {
        margin-top: 56px;
        .course_progress_mearn_title {
            color: var(--mute-color-100, #1c1c1c);
            font-family: Baloo Da 2;
            font-size: 41px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 61.5px */
            margin-bottom: 14px;
        }
        .course_progress_area {
            border-radius: 8px;
            background: var(--secondary-20, #f3f4f6);
            display: flex;
            align-items: center;
            .course_progress {
                .course_progress_title {
                    color: var(--mute-color-100, #1c1c1c);

                    /* H5/Semibold 20 */
                    font-family: Baloo Da 2;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 30px */
                    padding-top: 23px;
                    padding-left: 16px;
                }
                .course_progress_bar {
                    width: 1091px;
                    height: 15px;
                    border-radius: 6px;
                    background-color: #e5e7eb;
                    margin-left: 16px;
                    .course_progress_bar_complete {
                        width: 85.269px;
                        height: 15px;
                        flex-shrink: 0;
                        border-radius: 4px;
                        background: var(--green-2, #27ae60);
                    }
                }
                .course_progress_info {
                    color: var(--mute-color-80, #494949);

                    /* H6/Small Regular 14 */
                    font-family: Baloo Da 2;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%; /* 22.4px */
                    margin-top: 8px;
                    margin-left: 16px;
                    padding-bottom: 30px;
                }
            }
            .course_certificate {
                position: relative;
                padding: 8px 10px;
                .course_certificate_image {
                    width: 170px;
                    height: 120px;
                }
                .course_certificate_lock {
                    position: absolute;
                    top: 0;
                    width: 170px;
                    height: 120px;
                    // border: 1px solid red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        font-size: 30px;
                        color: #fef2f2;
                    }
                    // top
                }
            }
        }
    }
    .class_routine {
        margin-top: 100px;
        .class_routine_title_and_details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border: 1px solid red;
            .class_routine_title {
                color: var(--mute-color-100, #1c1c1c);

                /* H3/Semibold 32 */
                font-family: Baloo Da 2;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 48px */
            }
            .class_routine_details {
                color: var(--mute-color-100, #1c1c1c);
                text-align: center;
                font-family: Baloo Da 2;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-decoration-line: underline;
                i {
                    padding-left: 8px;
                }
            }
        }
        .class_routine_table {
            // border-radius: 12px;
           .table_div{
            border: 1px solid #e5e7eb;
            border-radius: 12px;
            margin-top: 12px;
            table {
                width: 100%;
                thead {
                    border-radius: 12px 12px 0px 0px;
                    background: var(--secondary-20, #f3f4f6);
                    tr {
                        // border-radius: 12px;
                        td {
                            // border: 1px solid #e5e7eb;
                            text-align: center;
                            color: var(--mute-color-100, #1c1c1c);
                            font-family: Baloo Da 2;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%; /* 48px */
                            border-right:  1px solid #e5e7eb;
                            padding-top: 14px;
                            &:first-child{
                                border-radius: 12px 0px 0px 0px;
                            }
                            &:last-child{
                                border-radius: 0px 12px 0px 0px;
                                border-right: 0px;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            border: 1px solid #e5e7eb;
                            text-align: center;
                            color: var(--mute-color-100, #1c1c1c);
                            text-align: center;
                            font-family: Baloo Da 2;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%; 
                            padding: 20px;
                            &:first-child{
                                border-left: 0px;
                            }
                            &:last-child:last-child{
                                border-right: 0px;
                            }
                        }
                       &:last-child{
                        td{
                            border-bottom: 0px;
                            &:first-child{
                                border-radius: 0px 0px 0px 12px;
                                // background-color: red;
                                border-left: 0;
                            }
                            &:last-child{
                                border-radius: 0px 0px 12px 0px;
                                // background-color: red;
                            }
                        }
                       }
                    }
                }
            }
           }
        }
    }
}
