.login_by_password_area {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // text-align: center;
    margin-top: 120px;
    @include xs(){
        margin-top: 40px;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            margin-bottom: 16px;
        }
    }
    .changed_password_title {
        color: var(--mute-color-100, #1c1c1c);
        // text-align: center;

        /* H3/Semibold 32 */
        font-family: Baloo Da 2;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 48px */
        margin-bottom: 16px;
        width: 628px;
        display: flex;
        align-items: center;
        @include xs(){
            width: 100%;
            font-size: 18px;
            margin-bottom: 0px;
        }
        
        i{
            margin-right: 16px;
        }
    }
    p{
        @include xs(){
            font-size: 14px;
        }
    }
    .changed_password_form {
        display: flex;
        justify-content: center;
        text-align: center;
        @include xs(){
            width: 100%;
        }
        form {
            width: 628px;
            // height: 347px;
            flex-shrink: 0;
            border-radius: 6px;
            background: var(--white, #fff);
            border-radius: 6px;
            background: var(--white, #fff);
            box-shadow: 0px 1px 2px 1px rgba(82, 82, 82, 0.15);
            padding-bottom: 26px;
            @include xs(){
                width: 100%;
                padding: 5px 5px;
            }
            .password_input {
                position: relative;
                margin-top: 24px;
                @include xs(){
                    margin-top: 10px;
                }
                input {
                    width: 580px;
                    display: inline-flex;
                    padding: 13px 16px 11px 13px;
                    justify-content: center;
                    align-items: center;
                    gap: 481.3px;
                    border-radius: 8px;
                    border: 1px solid var(--mute-color-40, #a4a4a4);
                    background: #fff;
                    color: #494949;
                    @include xs(){
                        width: 100%;
                        font-size: 14px;
                        padding: 5px 12px 5px 12px;
                    }
                }
                i {
                    position: absolute;
                    top: 15px;
                    right: 35px;
                    color: #777777;
                    @include xs(){
                        right: 15px;
                        font-size: 14px;
                        top:10px;
                    }
                }
            }
            .confirm_btn {
                position: relative;
                margin-top: 24px;
                @include xs(){
                    margin-top: 15px;
                }
                input {
                    width: 580px;
                    display: inline-flex;
                    padding: 13px 16px 11px 13px;
                    justify-content: center;
                    align-items: center;
                    gap: 481.3px;
                    border-radius: 8px;
                    background: var(--mute-color-20, #d2d2d2);
                    border: none;
                    color: #fff;
                    text-align: center;
                    font-family: Baloo Da 2;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    @include xs(){
                        width: 100%;
                        font-size: 14px;
                        padding: 5px 12px 5px 12px;
                    }
                }
            }
            label {
                display: flex;
                justify-content: end;
                margin-right: 24px;
                color: var(--mute-color-80, #494949);

                /* H6/Lebel Regular 12 */
                font-family: Baloo Da 2;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 19.2px */
                margin-top: 14px;
                @include xs(){
                    margin-right: 5px;
                    margin-top: 8px;
                }
            }
        }
    }
}

