body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: $font_regular;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

img,
iframe,
a,
span,
i {
    text-decoration: none;
    display: inline-block;
}
